.am-carousel{
	img{
		width: 100%；
	}
}
.product{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	a{
		flex-basis: calc( 50% - 2 * 5px );
		margin: 0 5px 10px;
	}
	img{
		width: 100%;
	}
	.price{
		font-weight: bold;
		margin-right: 4px;
	}
	.original{
		color: #999;
		font-size: 12px;
		text-decoration : line-through;
	}
}